[2018-11-06 07:37] zyf1011 opened #4 "运行问题"
你好，我下载了你的代码 但是在我本地不能运行，出现好多问题，望解答

[2018-11-06 14:56] frankiecancino commented on #4
錯誤訊息上顯示什麼？

[2018-11-09 03:13] vanbenschoten opened #5 "Python 2 compatibility"
We've seen interest in making the library compatible with Python 2. We will explore possible avenues, but if you have any thoughts on the subject please reach out.

[2018-11-21 20:31] vanbenschoten commented on #4
我們只支持Python 3.請嘗試使用該版本安裝代碼

[2018-11-21 20:31] #4 closed

[2018-11-21 20:40] vanbenschoten opened #6 "Update exclusion zone length from plus or minus m/2 to plus or minus m/4"
Per Zhu et.al we should change the exclusion zone length from m/2 to m/4.

[2018-11-21 20:42] vanbenschoten opened #7 "Implement Annotation Vector"
Adding the AV (Matrix Profile V) will significantly increase usability. This'll probably be the next feature we add.

[2018-11-24 13:14] whitewalker007 opened #8 "Top K Motif"
Hello,
how can someone use your code to find top k motifs? Please enlighten. Thanks in advance!

[2018-11-24 14:59] vanbenschoten commented on #8
We should add a routine to do this, but you can zip the matrix profile and matrix profile index arrays together, order by matrix profile value, remove redundant indices together (for instance, if index m and q both have the same motif and hence have a minimum with index d, then d will be represented twice), then select the k values with the lowest matrix profile values.

[2018-11-24 15:06] vanbenschoten commented on #8
Two things worth calling out: since most datasets have a degree of randomness, you'll find that the same motif in two places might actually be slightly different, and hence the above method will treat them as different motifs even though visual inspection will reveal that they're the same. Also, the matrix profile is intentionally agnostic to why a given motif is present in the data, so it won't a

[2018-11-24 15:18] whitewalker007 commented on #8
Thanks for the precise explanation.

[2018-11-27 02:19] vanbenschoten commented on #8
@whitewalker007 If this works well for you, feel free to add a Jupyter notebook tutorial to the repo! We're going to start gathering examples of the code in order to enable others to use it better (with synthetic data, of course).

[2018-12-11 01:13] vanbenschoten commented on #7
Implemented with necessary tests

[2018-12-11 01:13] #7 closed

[2018-12-13 02:45] vanbenschoten commented on #5
Upon even more feedback, we'll look into putting Python 2 compatibility on the roadmap.

[2018-12-13 05:58] oentaryorj opened #11 "Handling constant subsequence"
In some occasion, a time series subsequence can be flat/constant for a while, which may lead to a zero standard deviation for that subsequence. However, the the current codes does not seem to handle this case yet. Is there a way to fix this?

[2018-12-29 00:48] aouyang1 opened #13 "Add Discord discovery"
The initial implementation should be rather basic. This should go through and pick the highest value in the matrix profile and log that index. An exclusion zone will be applied around this index on the matrix profile, such that subsequent peaks can be found.

[2018-12-29 00:56] aouyang1 commented on #11
@oentaryorj Something that's worked for me was to add some very small noise to the signal. This has the added benefit that the flat regions can be detected later on as different segments of the time series.

[2018-12-30 19:36] #13 closed

[2019-01-02 06:18] oentaryorj commented on #11
@vanbenschoten: Sorry for the late response - just back from vacation :) I would be more inclined toward option 2, although we could probably put an option to ignore/skip the flat segments.

@aouyang1: Thanks for the suggestion. Do you need to modify the current codes to make this work? Any other numerical issues encountered?

[2019-01-04 16:43] mbarkhau commented on #5
Shameless plug: https://pypi.org/project/lib3to6/

[2019-01-04 17:06] mbarkhau commented on #5
Interesting. It seems the tests already pass.

[code]

So it may be just the setup.cfg and setup.py that have to be updated.

[2019-01-04 18:01] vanbenschoten commented on #5
Awesome! I'll take a look later today and see if we can get things moving. Thanks much for the help!

[2019-01-07 02:15] #5 closed

[2019-01-07 08:20] skjerns opened #20 "Write minimal documentation"
Great to see a python implementation of MP, I've always wanted to play around in Python but never got to it.

I would appreciate to include some minimal function description, maybe in form of docstrings e.g.
[code]

At this moment it's not really clear to me what each parameter does without re-watching the introduction video or infering this from some paper.

[2019-01-07 12:16] vanbenschoten commented on #20
Thanks for the suggestion! We'll take another look at the documentation to see if it can be made clearer.

[2019-01-07 18:16] vanbenschoten commented on #20
The real issue is that the topline matrixprofile.py functions have no documentation, but the lower levels (distanceprofile.py, utils.py, etc) do. I'll go ahead and add some more info to matrixprofile.py.

[2019-01-11 11:30] zippeurfou opened #21 "Readme is a bit missleading"
Hi,
Very interesting concept thanks for coding it and sharing it.
In the readme, you mention:

And then you conclude

I am a bit puzzled by this.. Yes the matrix profile has spiked but so did the data. I do not see in this example the additional value of STAMPI.
Overall I am a bit confused about how to interpret the data. Especially if you'd like to do it in an automatic way for an anomaly detecti

[2019-01-12 02:39] aouyang1 commented on #21
The green box actually is not an outlier due to how the data was generated. The noise in this section is mostly identical to the noise after the small sinusoidal pulse. This results in a lower matrix profile value whereas a higher value should be expected if the noise sections were not correlated.

In the black box, the small sinusoidal pulse is not an outlier because the pattern is exhibited more

[2019-01-12 10:19] zippeurfou commented on #21
Thanks Austin for your answer.
I guess I am still a bit confused on how to interpret the value then and the conclusion is that I should do a bit more reading. I have to admit I only quickly skipped through the paper. I was thinking that in the green boxes having MP ~3 meant it was interpreted as outliers but this must be incorrect.
Side note, I think it would be nice to share the csv or give a dow

[2019-01-12 17:42] aouyang1 commented on #21
the outlier detection from my experience can be a bit tricky with matrix profiles. The clear ones have a shape that's distinctly mountain-like and have just one in the whole matrix profile. Multiple spikes may indicate that those spikes are also anomalies, but may need further assessment on them.

I can probably whip together something quick for creating the signal in python and get a pull request

[2019-01-12 21:48] zippeurfou commented on #21
Thanks again!

Thanks, for the details. It was kind of my fear in the first post. If you need to do further assessment on them then you can't really use this to automatically detect anomaly (at least by itself) which kind of go against the description of the package:

Thanks for sharing the code to generate the data.

[2019-01-13 04:34] aouyang1 commented on #21
I think a big part is to define what an anomaly is in the matrix profile sense. To me it's a pattern that is present only once in the observed time frame. A second occurrence would then make it a motif.

[2019-01-14 17:48] vanbenschoten commented on #21
@zippeurfou apologies! For some reason I'm not receiving notifications when issues are opened. Right now this repo focuses on calculating the raw Matrix Profile; you're right in that there's usually additional steps to build a complete anomaly detection system (as there is for any algorithm). In this case the top three spikes all represent changepoints in the data behavior, so really the raw Matri

[2019-01-15 17:01] zippeurfou commented on #21
Thanks @aouyang1 @vanbenschoten it all makes sense to me  now:).

[2019-01-17 18:59] vanbenschoten commented on #20
@skjerns I've added some more detail for the functions. Let me know if this helps!

[2019-01-17 18:59] #20 closed

[2019-01-17 19:02] vanbenschoten commented on #21
Closing this issue for now, but feel free to re-open if more discussion is helpful.

[2019-01-17 19:02] #21 closed

[2019-01-17 21:40] tylerwmarrs commented on #6
@vanbenschoten I spent some time making the exclusion zone configurable with a default of 2. Can you think of any unit tests that we need to create? All tests are passing as of now. Please take a peak at my commit here: https://github.com/tylerwmarrs/matrixprofile-ts/commit/6d2f8a4ea1ba90f0d02a1da3d23ea3ccae534328

[2019-01-18 05:52] tylerwmarrs opened #26 "Code Style Guidelines"
There seems to be a lot of inconsistency in coding style. For example, the time series variable is as tsA instead of snake cased as ts_a. Python conventions are not being met within the code. This is fairly low priority, but something to consider; especially if many people contribute. I am not saying that this code base should follow Python standards - just a standard.

[2019-01-18 08:55] skjerns commented on #20
great work, thanks!

[2019-01-18 14:58] tylerwmarrs opened #27 "Proposal For Discord Discovery - Jupyter Example"
I wrote a blog post about this library and how to use it on a NAB dataset to detect discords. I can rewrite the notebook and contribute it to the examples section if you want. You can read the post here. http://tylermarrs.com/posts/anomaly-detection-matrix-profile-discords/

[2019-01-18 16:32] tylerwmarrs commented on #26
It probably makes the most sense to follow PEP-8 standards - https://www.python.org/dev/peps/pep-0008/

I believe that you can add a PEP-8 linter to your pull request process.

https://gist.github.com/MichaelCurrie/802ce28c993ff2dd632c

I really like how numpy documents their code. Here is an example and documentation.
https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html
http

[2019-01-20 20:05] vanbenschoten commented on #27
Closing as relevant PR has been merged.

[2019-01-20 20:05] #27 closed

[2019-01-23 04:38] tylerwmarrs opened #32 "Allow user to set random seed for sampling algorithms"
In the random sampling algorithms we do not allow users to set a seed. This makes the results different every time the algorithm runs. In some cases that may be great, however it does not allow for reproducible results.

[2019-01-23 14:20] tylerwmarrs commented on #21
I think that the biggest point of confusion is this line:

"We can introduce an anomaly to the end of the time series and use STAMPI to detect it "

Stampi does not detect the anomaly, but it appends new data regardless of the data being anomalous. Maybe clarification on what Stampi is doing is needed.

[2019-01-23 23:21] youzzefb opened #33 "MASS yields different results than brute force search"
I observed different results when calculating the distance profile using the brute force search algorithm and the function matrixprofile.MASS.distance_profile(). Here is a sample of my code:

# calculate by brute force
query_ = (query - query.mean()) / query.std(ddof=0)
len_m = query.shape[0]
dist = []
for index in range(0, serie.shape[0] - len_m + 1):
    sub = serie[index:index + len_m]
    sub

[2019-01-23 23:32] vanbenschoten commented on #33
Interesting...I'll take a look at this. Thanks for the heads up!

[2019-01-24 20:42] vanbenschoten commented on #32
Closing as PR merge has resolved the issue

[2019-01-24 20:42] #32 closed

[2019-01-24 22:21] tylerwmarrs commented on #33
@youzzefb I think that you may be calling the distance call incorrectly? Here is a sample notebook that shows the same results. In order to have the same array, you would need to pull the single values out of each array in the loop and append to a new list.

I hope this helps.

[Same Results.zip](https://github.com/target/matrixprofile-ts/files/2793858/Same.Results.zip)

[2019-01-25 16:04] JaKasb commented on #33
Each version of the MatrixProfile algorithms produces different results.
Furthermore each version of MASS produces different results.

STAMP differs from naive bruteforce due to STAMP's FFT convolution
STOMP differs from STAMP due to error propagation and error accumulation.
I assume that SCRIMP also differs from STAMP and STOMP.

Never compare floating point numbers for exact equality.
The final

[2019-01-28 14:39] vanbenschoten commented on #33
I think the discussion above sufficiently answers the question. Closing the issue.

[2019-01-28 14:39] #33 closed

[2019-01-31 06:09] wooheaven opened #34 "[ rawdata.csv in Matrix_Profile_Tutorial.ipynb ] is missing"
2nd Cell of [ matrixprofile-ts/docs/examples/Matrix_Profile_Tutorial.ipynb ]
rawdata.csv is missing

[code]

Would you guide more detail steps for generate ? ot Add the rawdata.csv ?

It's nonsense that I have to spent time in order to get the rawdata.csv file by clone/build/run go-matrixprofile.

I think that this matrixprofile is independent of the go-matrixprofile in code level.
So there is no

[2019-01-31 13:15] vanbenschoten commented on #34
Yeah, the CSV should definitely be there (we don't want folks to have to run the golang version every time). I'll upload a copy of the file later today.

Thanks for the heads-up!

[2019-02-05 16:02] vanbenschoten commented on #34
@wooheaven apologies for the delay! The csv has been added to the examples repo per https://github.com/target/matrixprofile-ts/pull/35. Closing this issue as a result.

[2019-02-05 16:02] #34 closed

[2019-02-18 15:41] Modestas96 opened #37 "Dealing with missing values"
I tried to use matrix profile to analyse data with missing values, unfortunately I get an empty graph. Is it possible to analyse data with missing values with this implementation? Since in the paper it was stated that matrix profile should result some analysis even with missing data.

[2019-02-19 01:07] vanbenschoten commented on #37
@Modestas96 the code should be able to handle missing data, so long as the gaps are small relative to the subsequence length. Can you give some more details about the issue?

[2019-02-19 14:49] Modestas96 commented on #37
Understood, in my example the gaps are relatively big, so I was wondering if I have to deal with them specifically myself or the algorithm will be able to handle it.  So what happens in my case is that algorithm returns matrix profile with only nan or inf values.

[2019-02-19 15:01] vanbenschoten commented on #37
Yeah, in this case you'll probably have to do some custom handling of the gaps. I'd recommend concatenation of the data where possible.

[2019-03-14 16:58] DieterDePaepe opened #38 "Speed claims"
In your [blog post](https://tech.target.com/2018/12/11/matrix-profile.html) you mention:

I would expect 20 years of data points to around 2M (12 * 24 * 365 * 20) or around 400K if you only measured workdays/hours. However, on my laptop it already takes 20 seconds to process 16K data points.

Did you use special libraries or hardware to achieve your timings?

[2019-03-14 18:36] frankiecancino commented on #38
It was in 5 minute aggregations including weekends. (288/day * 7 * 4 * 12 * 20) = 1,935,360

And yes this was using the STOMP implementation that hasn't been released yet, since we are still making it sufficient for the API. Trying to call the CuDA code via Python interface and making it seamless and intuitive.

And yes, it was using an NVIDIA Tesla p100 GPU I believe. It was either a k80 or p100.

[2019-03-15 17:10] abhishekamte opened #39 "support for multi-dimensional motifs and discords"
Any plans to support multi-dimensionality?

Great library. Thanks!

[2019-03-15 22:15] frankiecancino commented on #39
Definitely, it's on the roadmap/in the backlog. This and GPU functionality are two of the priorities.
And thank you! We appreciate it

[2019-03-16 15:24] abhishekamte commented on #39
Great to hear that. What is the best way to ask queries w.r.t using this lib? I have a couple of questions on how the results I get when I use this on my data.

[2019-03-18 01:46] vanbenschoten commented on #39
@abhishekamte do the tutorials help answer your questions? Let us know if there's something missing!

[2019-03-18 16:20] frankiecancino commented on #39
Also, there is a Slack workspace we created, but haven't used it too much. The Slack URL is matrixprofile.slack.com if you're interested. We could advertise this more to incubate discussions around the different libraries out there for calculating the matrix profile.

[2019-03-18 16:33] abhishekamte commented on #39
@vanbenschoten @frankiecancino, thank you for your replies. I have looked into both the tutorials hosted on Eamonn Keogh's home of the university's site and i dont think it is mentioned how we choose the value of m. I also had a couple of more questions
(1) based on the value of 'm' the discords may change. so taking the nyc taxi example mentioned in this repo as an example, how many datapoints ar

[2019-03-24 14:40] vanbenschoten commented on #39
@abhishekamte you're correct in that m will give you different discords: that's actually a feature of the algorithm. If you don't have a lot of insight into the nature of your data then you'll have to experiment with different values and just compare the results. However, if you have a sense of what a discord "should" look like, then you can set m appropriately. For instance, you may only care abo

[2019-03-24 14:40] #39 closed

[2019-03-25 19:07] #38 closed

[2019-04-17 13:34] MichaelDoron opened #40 "Stomp calculates wrong MP vectors for two time series comparison"
Reproduction:

from matrixprofile import *

a = np.random.rand(500)
b = np.random.rand(500)
mp_a_1 = matrixProfile.stomp(a,10,a)[0]
mp_a_2 = matrixProfile.stomp(a,10)[0]
mp_a_b = matrixProfile.stomp(a,10,b)[0]

assert np.max(np.abs(mp_a_b[0])) > 0, 'stomp returns 0-filled vectors when tsB != tsA'
assert (mp_a_1[0] == mp_a_2[0]).all(), 'stomp returns different vectors when tsB = tsA and when tsB =

[2019-04-17 18:02] Ofer-Idan commented on #40
Not sure what your first assertion is checking for (it seems to only check the first element in mp_a_b) - mp_a_b is not actually 0-filled (you can test it with mp_a_b.any())

But I'm seeing the same issue with comparing STOMP(A) != STOMP(A,A)

As far as I can tell, the issue is within STOMPDistanceProfile (I haven't tried to check this with STAMP) in the selfJoin check:
`if selfJoin:
        trivi

[2019-04-17 18:50] Ofer-Idan commented on #40
Put in a simple fix for STOMP(A) != STOMP(A,A).
I'm looking into the bigger issue where STOMP(A,B) produces weird results.

[2019-05-14 16:03] tylerwmarrs opened #43 "Bug from PR #41"
The logic for PR #41 causes a bug in stomp when trying to perform a sub-query search. When tsA and tsB are not the same length, numpy automatically returns a boolean and the ".all()" method fails. Using np.array_equal(tsA, tsB) resolves the issue.

![image](https://user-images.githubusercontent.com/18449075/57713278-c6142a80-7637-11e9-9b96-e59e53404585.png)
![image](https://user-images.githubuserc

[2019-05-16 03:43] tylerwmarrs opened #45 "SCRIMP++ Sub-query Support"
Currently, the implementation of SCRIMP++ only supports self-similarity search. It would be ideal to support sub-query searching.

[2019-05-16 03:47] tylerwmarrs opened #46 "STOMP - Support sub-query of smaller sizes"
Right now STOMP requires that tsA and tsB be the same length. It does not support a query of smaller sizes. For example:

![image](https://user-images.githubusercontent.com/18449075/57825168-58fdb380-7763-11e9-8bc6-830b12ca7ecc.png)

[2019-05-16 03:53] tylerwmarrs opened #47 "Library restructuring"
Would you be willing to restructure this module so that all algorithms have their own modules? I feel that many of these algorithms make adjustments to the core algorithm "MASS" for optimization. If I wanted to commit MASS2 by itself for subquery searching, it would cause conflicts with other functions in the distanceProfile module.

I feel that a restructure of having a module for stomp, scrimp a

[2019-05-16 03:53] tylerwmarrs commented on #43
Closing as PR #44 fixes this bug.

[2019-05-16 03:53] #43 closed

[2019-05-16 03:55] tylerwmarrs opened #48 "MPDist Implementation"
Add implementation for MPDist. It should be fairly easy with all of the SCRIMP++ code that was implemented.

https://sites.google.com/site/mpdistinfo/

[2019-06-13 05:31] dingzj opened #50 "Tutorial code running into issue: 'unicode' object is not callable"
Using exactly the Tutorial code under Python 2.7 with miniconda environment, when running the following section, got an error. Is this just me ? can anyone help please?
:
Calculate the Matrix Profile
[code]
---------------------------------------------------------------------------
[code]

[2019-06-13 10:26] tylerwmarrs commented on #50
@dingzj I was able to create a Python 2.7 environment in conda and run the tutorial just fine. I have attached my anaconda environment file for you to compare. It seems to be an issue with your environment. Please activate your conda environment and run:

`conda env export > environment.yml`

This will help us debug your issue easier.

[2019-06-13 14:20] #6 closed

[2019-06-13 14:22] vanbenschoten commented on #40
@Ofer-Idan any update on the above?

[2019-06-13 15:33] dingzj commented on #50
Thanks for the pompt response, here is my environment.yml
[code]

[2019-06-13 15:40] tylerwmarrs commented on #50
Your numpy version is very outdated. Are you able to upgrade? If so, try that. It is interesting that the installation did not require you to upgrade. This could be an unintended bug on our side.

[2019-06-13 17:21] vanbenschoten commented on #50
Right now, matrixprofile-ts doesn't require a specific numpy version. That's an obvious fix which I'll implement in the setup.py script. @dingzj can you let us know if things work after upgrading numpy?

[2019-06-13 22:46] dingzj commented on #50
@tylerwmarrs  @vanbenschoten I updated my numpy version to
``` numpy=1.11.3=py27_0  ```
and it's working now. Thanks a lot for the great support!
Here is my updated environment config:
[code]

[2019-06-14 00:39] vanbenschoten commented on #50
@dingzj you're welcome!

[2019-06-14 00:39] #50 closed

[2019-06-14 07:38] stew opened #52 "The link to the CoC in CONTRIBUTING.md is broken"
the CONTRIBUTING.md file refers to a Github Code of Conduct with a URL which is currently 404.

Can we switch this to the Contributor Covenant?:

https://git.target.com/open-source/open-source-project-template/blob/master/templates/.github/CODE_OF_CONDUCT.md

[2019-06-14 13:25] vanbenschoten commented on #52
@stew I think that's a good plan. I'm going to review the Code of Conduct in a bit more detail first, but I don't see any issue with this. Thanks for the heads up about the 404!

[2019-06-14 22:56] #52 closed

[2019-06-15 15:56] JaKasb commented on #40
Never compare floating point numbers for exact equality.
Use numpy.allclose() instead.
https://docs.scipy.org/doc/numpy/reference/generated/numpy.allclose.html
https://floating-point-gui.de/errors/comparison/

[2019-06-15 16:19] JaKasb opened #54 "Readme Section 'Algorithm Comparison' is missleading"
### Problem 1:
The runtime comparison for short timeseries is useless and missleading.
For short timeseries, the startup-cost and initialization dominates the runtime-complexity.
STOMP reduces the runtime complexity over STAMP, not the startup speed.
#### Solution:
Replace table with plot, made by https://github.com/nschloe/perfplot
Vary the time-series length from 10^1 to 10^5. The larger the bet

[2019-06-15 18:11] tylerwmarrs commented on #54
@JaKasb Thank you for raising your concerns. I agree that the plot would allow for a more holistic view. However, your statement about it being useless is a bit over stated. Using the timeit module removes the measurement of the initialization costs when measuring an algorithm. Please see this link for more information about this modue. https://docs.python.org/3/library/timeit.html It is not the m

[2019-06-15 20:02] Ofer-Idan commented on #40
@vanbenschoten the PR for STOMP(A) != STOMP(A,A) was merged, so @MichaelDoron's original issue should be resolved (and this issue closed).
@MichaelDoron can you please pull the latest and see if this can be closed please?

(I haven't had a chance to look into my other STOMP issues in a while as I moved to a different project, but that should be a separate issue altogether)

Thanks!

[2019-06-15 20:36] MichaelDoron commented on #40
Hey, thanks for looking into this.
The second assertion is solved, mp_a_1 is now equal to mp_a_2.
However, the first assertion (the one checking whether stomp returns 0-filled vectors when tsB != tsA) is still failing - mp_a_b seems to be filled with zeros.

[2019-06-16 12:32] tylerwmarrs opened #55 "Inconsistent Bug with SCRIMP++"
In some cases SCRIMP++ will error out when computing the dotproduct. It appears to be an inconsistent as it will complete fine in some cases but not others. The window size makes the difference. I believe it has to do with the logic that computes the "idx_nn" or "end_idx". See the attached screenshots for more information.

Here is the code to reproduce the issue:

[code]
It does not error out eve

[2019-06-17 00:54] tylerwmarrs opened #57 "Holistic Algorithm Comparison"
In order to provide a better understanding of the algorithm runtime, it would be beneficial to add a plot showing the runtimes with varying m and n. This is similar to how many of the papers present runtime comparisons using a perfplot.

Right now a bug in SCRIMP++ is blocking this from completion - #55

[2019-06-17 00:59] vanbenschoten commented on #54
Closing this issue as Problem 1 has been captured in Issue 57, and Problem 2 has been resolved

[2019-06-17 00:59] #54 closed

[2019-06-17 15:52] tylerwmarrs commented on #55
PR #58 resolves this issue when merged.

[2019-06-17 20:28] tylerwmarrs commented on #55
#58 was merged. Closing this issue.

[2019-06-17 20:28] #55 closed

[2019-06-18 00:58] ameya98 commented on #11
If you read the original [SAX](https://cs.gmu.edu/~jessica/SAX_DAMI_preprint.pdf) paper (SAX was invented by the same people who invented the Matrix Profile) you will see that they handle subsequences with very low standard deviation (that includes the constant subsequence, as that has standard deviation zero) by not dividing by the standard deviation when normalizing. (The threshold for the stand

[2019-06-18 02:03] aouyang1 commented on #11
Agreed. Found this from stack overflow as well https://github.com/scikit-learn/scikit-learn/blob/7389dbac82d362f296dc2746f10e43ffa1615660/sklearn/preprocessing/data.py#L70 treating the standard deviation as 1 keeping the existing subsequence values and not normalizing.

Since we're trying to compare to subsequences together such that one subsequence's spectral power does not bias over another, wou

[2019-06-18 02:22] oentaryorj commented on #11
Thanks for the inputs. So I guess "ignoring" the standard deviation means option 2 in @vanbenschoten's reply (i.e., treating constant subsequence as "trivial" motif)?

[2019-06-18 03:04] ameya98 commented on #11
I think performing the mean subtraction but not the division by the standard deviation in the distance profile computation should suffice as well?

[2019-06-18 05:20] ameya98 commented on #26
I agree - the code for SCRIMP++ is especially hard to follow.

[2019-06-18 05:51] tylerwmarrs commented on #26
@ameya98 It is written SCRIMP++ is written with the goal to have almost every piece of the code unit tested. The fact of the matter is that SCRIMP++ is more complex than the original algorithms. Do you have any suggestions on how to improve the module so that it is easier to follow?

[2019-06-18 06:04] ameya98 commented on #26
Obviously, I do not intend to criticize this library and your work, because I think it is a great contribution for everyone to use. However, if you do want constructive feedback:
- Why are there so many functions that seem to do extremely simple operations? Unit-testing does not require breaking extremely simple operations into multiple functions. You can check whatever properties you want to chec

[2019-06-18 06:29] tylerwmarrs commented on #26
@ameya98 I very much so appreciate your feedback. All criticism is taken in the right context. I am probably a little bias towards the structure of the module as I wrote it. I think that it is still maintainable as is, but for others to follow, it definitely could use some refactoring.

Extremely simple operations - this shows the slow approach to how I implemented the algorithm. Literally one maj

[2019-06-18 13:22] tylerwmarrs opened #59 "Refactor SCRIMP++"
The SCRIMP++ module is a little difficult to follow. It should be refactored once we establish some code style guidelines. #26

[2019-06-18 16:23] ameya98 commented on #59
I think I might be able to make some progress on this.

[2019-06-18 19:00] ameya98 commented on #59
I did make progress on my fork. I also fixed a bug in SCRIMP++ where the matrix profile indices were taking invalid values. I also added comments in some places, and removed some variables that weren't necessary.

[2019-06-24 00:26] ameya98 commented on #59
There was another bug where the exclusion zones were not applied to the distance profiles. This has been fixed - SCRIMP++ now gives me the same output as STOMP.

[2019-06-24 00:28] ameya98 commented on #59
I want to make a pull request with all of my contributions and bug fixes, but I think I've added quite a few things (exclusion_zone_fraction) and modified the names of other variables, as well as committed to my master branch only. What do you think? Someone could benefit from these fixes though.

[2019-06-24 01:02] tylerwmarrs commented on #59
@ameya98 Typically, it is best practice to solve one issue in a branch in your repository and then submit a pull request. You may be able to use git's cherry pick functionality to create new branches that resolve specific issues.

An an aside, my implementation followed UCR Matlab code explicitly where as the stomp implementation in this library was based on the paper. I'm not sure that it makes s

[2019-06-24 01:11] ameya98 commented on #59
It's not about the standards, it's about the implementation
here - both STOMP and SCRIMP++ (when run to completion) compute the exact matrix profile. There is no reason for the outputs of both of these to be any different (except for floating point errors, but those errors are extremely minor).
The current implementation has bugs - the matrix profile indices were being incorrectly computed (the in

[2019-06-24 04:01] ameya98 commented on #59
Correction on the exclusion zones - there shouldn't be any need for them in PreSCRIMP. There seems to be some issue with the noise correction I've implemented.

[2019-06-24 19:46] tylerwmarrs commented on #59
@ameya98 It is great that you are helping resolve some of these issues. When you find a new bug unrelated to refactoring, please create a new issue. When you submit a pull request please reference the issue in the pull request. Please review the contributing guidelines. https://github.com/target/matrixprofile-ts/blob/master/CONTRIBUTING.md

[2019-06-24 20:41] ameya98 opened #62 "SCRIMP++ Matrix Profile Indices Incorrect"
The current implementation of SCRIMP++ incorrectly computes the matrix profile indices:
[code]
This raises an AssertionError.

If we replace SCRIMP++ by STOMP, we see that the AssertionError vanishes, as it should.
[code]

[2019-06-24 20:43] ameya98 commented on #59
Sorry, I've done so now!

[2019-06-24 21:08] tylerwmarrs commented on #62
@ameya98 It would be awesome if you could create some unit tests for your fix. This will help prevent issues like this in the future.

[2019-06-25 01:24] tylerwmarrs opened #63 "SCRIMP++ Invalid Value With np.sqrt"
In some cases the distance value is negative. It can be resolved by taking the absolute value and then the square root instead of the square root first.

Generally this gives a warning from numpy. See attached.
![image](https://user-images.githubusercontent.com/18449075/60062249-0f877900-96be-11e9-884a-cfaab3c9940f.png)

[2019-06-25 03:34] #63 closed

[2019-06-25 03:35] #57 closed

[2019-06-25 05:30] ameya98 commented on #62
Sure, I'll get to that soon.

[2019-06-25 08:43] aouyang1 commented on #40
https://github.com/target/matrixprofile-ts/blob/bcba7dc741d254435a72a60d6e014bf563de7d5a/matrixprofile/utils.py#L154 I believe is the culprit here. Using the precomputed cache to populate the 0th index of the next row's distance profile makes the assumption that we're doing a self-join. In the event that we are comparing two time series that are not the same, this assumption becomes invalidated. W

[2019-07-17 01:34] tylerwmarrs commented on #62
@vanbenschoten I think you can close this issue or @ameya98.

[2019-07-17 22:56] #62 closed

[2019-07-29 19:10] tylerwmarrs opened #68 "Feature - Top K Motifs"
As of now, we only have the top K discords algorithm implemented. There is a need to have the top k motifs algorithm implemented as well per our discord channel.

[2019-08-02 14:35] previsualconsent commented on #37
I'm curious about how to specify missing data. I used nan's but this broke the results.

[code]
Output
[code]
Is there a different way to handle missing data?

[2019-08-02 14:57] tylerwmarrs commented on #37
@vanbenschoten This issue should not be closed. The current stomp implementation does not correctly handle missing values.

[2019-08-03 01:29] vanbenschoten commented on #37
@tylerwmarrs agreed

[2019-08-03 17:31] vanbenschoten commented on #37
The latest code version (0.0.7) takes care of this issue.

[2019-08-03 17:31] #37 closed

[2019-08-05 16:22] dvdcoliveira opened #71 "Strange behaviour when testing with constant values"
Hi, thank you for sharing the Matrix Profile code.It is very helpfull

 I have a time series sample data with a frequency of one point per hour and it work's perfectly with a period of 24, as you can see in image below.

![Figure_3](https://user-images.githubusercontent.com/53783334/62472564-e9fa8e80-b796-11e9-9808-8742137ede61.png)

the code used was this:

df_Sample = pd.read_csv('Sample.csv', s

[2019-08-05 16:53] vanbenschoten commented on #71
@dvdcoliveira what version of the library are you using? Is it the latest (0.0.8)?

[2019-08-06 13:50] dvdcoliveira commented on #71
Hi! @vanbenschoten,

I was using  python version 3.7.1 and matrixprofile-ts version 0.0.6. I updated to 0.0.8 but the problem still persists.

If I use scrimp++ this does not happen.

Additional information:
- numpy version 1.15.4
- Windows version 10 Enterprise.

Many thanks for the support,
David

[2019-08-07 00:10] AlexandreRodrigues1 commented on #71
Hi,
Found the same issue when appending a constant value zero to the rawdata example.
Solve it by adding a very small noise to the example pattern:
``N = 1046``
``ix = np.arange(N)``
``signal = np.sin(2*np.pi*ix/float(32))*0.01``
``m = 32``
``mp = matrixProfile.stomp(pattern+signal,m)``

Probably it's a problem with the time series z normalization. When I run the matrixprofile with the constant va

[2019-08-07 00:27] vanbenschoten commented on #71
@AlexandreRodrigues1 thanks much for the contribution! @aouyang1 did you ever figure out a solution to this challenge for go-matrixprofile?

[2019-08-07 15:29] AlexandreRodrigues1 commented on #71
Thank you to @vanbenschoten and the other contributors too, for the excellent job done in implementing the Matrix Profile algorithms in python :)

[2019-08-07 17:03] peterdhansen commented on #68
#72 implements this. can close when pushed in version 0.0.8

[2019-08-08 04:03] peterdhansen commented on #7
According to [Slide 81](https://www.cs.ucr.edu/~eamonn/Matrix_Profile_Tutorial_Part1.pdf)  an annotation vector is applied as:

`CMP_i = MP_i + (1-AV_i)*max(MP)`

The current implementation is `CMP_i = MP_i * AV_i`

[2019-08-08 08:12] aouyang1 commented on #71
I'll need to test this case as well. I don't believe the golang version handles this nicely either. Hopefully can get back to you all on this in the next few days

[2019-08-10 16:18] vanbenschoten commented on #7
@peterdhansen thanks for the callout! I'm going to open an issue addressing this.

[2019-08-10 16:19] vanbenschoten opened #74 "Incorrect Annotation Vector implementation"
Per @peterdhansen :

According to Slide 81 an annotation vector is applied as:

CMP_i = MP_i + (1-AV_i)*max(MP)

The current implementation is CMP_i = MP_i * AV_i

(note that the annotation vector still works in the current code, just not as effectively).

[2019-08-12 20:04] #68 closed

[2019-08-12 20:20] tylerwmarrs commented on #71
@vanbenschoten This is due to ZNorm logic. The original implementation of MASS and MASS2 optionally allow you to normalize. STOMP implementation actually does not ZNorm for this reason I believe.

[2019-08-13 19:13] peterdhansen commented on #71
This is the same as #11

[2019-08-14 14:02] #74 closed

[2019-09-02 22:02] ortegatron opened #76 "Support for multivariate time series"
Hi,
I was looking for motif discovery on timeseries and find this one. Seems very good, but my data has several variables, it's a multivariate time serie.
This library doesn't support that, right?
Would it be easy to change the code to support it, or it is just non viable?

Thanks,
MArcelo

[2019-09-02 22:06] vanbenschoten commented on #76
Hi Marcelo,
   It's a non-trivial addition, but do-able (we just haven't had the bandwidth to incorporate it yet). We'll hopefully include it in the near future, though you're always welcome to submit your own PR :) In the meantime, the other two libraries supported by the Matrix Profile Foundation (go-matrixprofile (Golang) and tsmp (R)) have multivariate capabilities.

[2019-09-02 22:24] ortegatron commented on #76
Sweet, gonna have a look at that ones. Thank you for the quick reply!

[2019-09-03 11:09] geoHeil opened #77 "stumpy"
Are you affiliated with https://github.com/TDAmeritrade/stumpy? Has anyone compared the performance of stumpy with matrixprofile-ts?

[2019-09-04 18:39] vanbenschoten commented on #77
@geoHeil we're not affiliated/competing with Stumpy. We (Matrix Profile Foundation) have different goals in mind, primarily that we focus on broadening usability across as many fields as possible.

[2019-09-04 18:39] #77 closed

[2019-09-08 22:06] radokotorov opened #78 "Definition and explanation of parameters"
Can any one provide definitions of the used parameters. The questions are:

(1) How does one determine the samples to be excluded?

 Computes the top k motifs from a matrix profile
    Parameters
    ----------
    ts: time series to used to calculate mp
    mp: tuple, (matrix profile numpy array, matrix profile indices)
    max_motifs: the maximum number of motifs to discover
    ex_zone: the num

[2019-09-09 00:39] tylerwmarrs commented on #78
@radokotorov This specific algorithm requires a domain expert to know what makes sense for exclusion. It is highly dependent on the data. You must consider sampling frequency, window size set to compute the Matrix Profile and other factors specific to the data being analyzed. There currently is not an algorithm that makes or assists you in this process in this library.

[2019-09-09 00:47] vanbenschoten commented on #78
Agreed with @tylerwmarrs.

[2019-09-09 00:47] #78 closed

[2019-09-11 12:27] radokotorov commented on #78
Ok. But there has to be some logic for setting the exclusion zone. What is it?

Regards:

Rado Kotorov, Ph.D.
M: 646-761-6444

Sent from my iPhone

[2019-09-11 12:30] radokotorov commented on #78
What should the domain expert consider? What is the logic?  So let us say a domain expert is doing cardio data sampled at 350. So he knows that the motif length is 350. What does he consider to determine exclusion zone. You can define it in abstract terms, but any domain expert will ask what do i consider to make the choice for exclusion.

Regards:

Rado Kotorov, Ph.D.
M: 646-761-6444

Sent from m

[2019-09-11 12:34] radokotorov commented on #78
What should the domain expert consider? What is the logic?  So let us say a
domain expert is doing cardio data sampled at 350. So he knows that the
motif length is 350. What does he consider to determine exclusion zone. You
can define it in abstract terms, but any domain expert will ask what do i
consider to make the choice for exclusion.

On Sun, Sep 8, 2019 at 8:39 PM Tyler Marrs <notifications@

[2019-09-11 12:35] radokotorov opened #79 "Exclusion Zone"
I wanted to reopen 78, as it is left open ended. See comments there.

[2019-09-11 14:55] vanbenschoten commented on #78
@radokotorov the logic for the exclusion zone is academically defined by Keogh et.al as m/2, where m is your subsequence length. See the first two Matrix Profile papers for reference. The decision to use other values for the exclusion zone is a matter of pure trial and error.

[2019-09-11 20:49] radokotorov commented on #78
This is helpful. I think code becomes tremendously more useful when the reasons are provided. Thank you.

Regards:

Rado Kotorov, Ph.D.
M: 646-761-6444

Sent from my iPhone

[2019-09-13 15:03] #79 closed

[2019-09-13 20:42] rmapap opened #80 "Return actual distances from MASS instead of squared distances"
In `mass()` and `massStomp()` in utils.py, the quotient in the calculation of the squared distance can go slightly above 1, leading to a negative difference (see [line 177](https://github.com/target/matrixprofile-ts/blob/master/matrixprofile/utils.py#L177) and [line 200](https://github.com/target/matrixprofile-ts/blob/master/matrixprofile/utils.py#L200)).

Is there any objection to just wrapping t

[2019-09-13 20:58] tylerwmarrs commented on #80
@rmapap In regards to SCRIMP++ using absolute value - the Matlab implementation (from the UCR group) also takes this approach in resolving the issue you mention. Please refer to the code on their SCRIMP++ resource page: https://sites.google.com/site/scrimpplusplus/

[2019-09-13 21:24] rmapap commented on #80
@tylerwmarrs Thanks for the quick reply. I think that when this issue occurs, the values are essentially zero (e.g., -1e-12), so whether you set the value to 0 or make it positive probably doesn't really matter (except that `np.abs()` is probably faster). My main concern was just with having to wrap every call to MASS in np.sqrt()

[2019-09-15 09:52] watsondavetrendalyze opened #81 "motifs.motifs throws exceptions on larger arrays"
I have a timeseries (pattern) of length 44,640 (1 month) and a segment (m) length of 60

Exception thrown on this array but not on subset with 10080 points (1 week)

mp = matrixProfile.stomp(pattern,m)

I am getting the following error:

OverflowError                             Traceback (most recent call last)
<ipython-input-9-41e20029818d> in <module>
     52     ax.legend()
     53
---> 54 mtf

[2019-09-15 11:45] watsondavetrendalyze commented on #81
I was able to debug further and I see the matrixProfile.stomp(pattern,m) is returning some NaN values over some range in the data. I do not get this issue on other ranges nor on when using MASS2 and MASS3 on same range that gave the exception. As example the attached works without exception.

[coinbase_1month_june_debugtest.zip](https://github.com/target/matrixprofile-ts/files/3613717/coinbase_1mo

[2019-09-15 17:01] aouyang1 commented on #76
@ortegatron You can also take a look at this paper for multivariate mp. https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf.

[2019-10-03 18:19] pindapuj opened #82 "Question: Finding Shared Motifs for Clustering"
Thank you for creating matrixprofile-ts!

I'm trying to cluster a set of time series while using a set of "shared motifs" as "features." Specifically, I have a set of same length time series, where each time series represents a different observation of the same phenomenon. I don't know in advance what type of motifs or behavior can be seen as correct.

Therefore, I'd like to i) extract a set of k-

[2019-10-04 18:06] tylerwmarrs commented on #82
Thanks for reaching out @pindapuj You are heading down the right track. If it were me, I would probably do something like this for a starting point:

1. Compute matrix profiles for all series of interest.
2. Grab the top K motifs for all matrix profiles.
3. Compute the distance between all motif pairs to see how similar they are. You could use Euclidean distance here. You should end up with a two

[2019-10-04 18:12] tylerwmarrs commented on #71
Closing as issues is same as #11

[2019-10-04 18:12] #71 closed

[2019-10-07 14:03] tylerwmarrs commented on #82
@pindapuj I am closing this as this is a broad conversation that has been covered in more detail on Discord. Thanks for pointing out the broken invitation link!

[2019-10-07 14:03] #82 closed

[2019-10-17 16:07] JaKasb opened #84 "O(n²) Memory Requirements for _stamp_parallel()"
The function `_stamp_parallel()` computes the distance-profiles via a pool of workers.
Each worker returns a list of distance-profiles.

The reduction of the distance-matrix occurs after all workers return their lists-of-distance-profiles.
The memory requirements of all distance-profiles is O( (sampling_rate*n) * n )

`reduce(map(mass_distance_profile_parallel(indices)))`

https://github.com/targe

[2019-11-08 17:18] JaKasb opened #85 "Complexity Measure confuses mean and sum"
The complexity measure for the annotation vector is defined as:
`sqrt(sum(diff(subsequence).^2))`

CID (Batista 2013)
https://doi.org/10.1007/s10618-013-0312-3
Matrix Profile V (Dau 2017)
http://dx.doi.org/10.1145/3097983.3097993

However, the implementation uses the mean instead of the sum.
https://github.com/target/matrixprofile-ts/blob/207aa94cfff143dee824c46c5bad7444a806088c/matrixprofile/anno

[2019-11-11 18:30] JaKasb commented on #85
Vectorized Numpy Implementation:
[code]

[2019-12-02 18:43] mbrukman opened #86 "Duplicate license files: remove License.md?"
Looks like there are both a [`LICENSE`][license] as well as a [`License.md`][license.md] file in the repo. The `LICENSE` file is the authoritative full-length Apache license, while the `License.md` is the short-form version, suitable for top-of-file comment header, for example, but not a substitute for the full license.

It would be good to remove `License.md` since it's the short-form version, an

[2019-12-02 20:30] vanbenschoten commented on #86
@mbrukman thanks for the heads up! @frankiecancino what is Target's stance on just having the LICENSE file? Currently the repo only has the Target copyright in the License.md file: is there an updated version we could use for both?

[2019-12-02 22:26] mbrukman commented on #86
_**Disclaimer:** I am not a lawyer and this is not legal advice; this is just my opinion & observations._

Please don't modify the Apache 2.0 `LICENSE` file with a copyright annotation as it will only confuse automated tools (and will not accomplish the automated license chip on the repo overview page).

Also, as soon as you have folks beyond just one company contributing to a project, you would h

[2019-12-05 14:04] vanbenschoten commented on #86
Duplicate License.md file has been removed, so I'm closing this issue.

[2019-12-05 14:04] #86 closed

[2019-12-05 15:18] mbrukman commented on #86
Thanks, @vanbenschoten!

[2019-12-06 23:17] seanlaw commented on #77
Hi, @vanbenschoten! This is Sean Law, the creator of STUMPY, here. I just wanted to drop in and thank you for bringing more awareness to matrix profile and also to say that I am a fan of your (and your team’s) work. The Matrix Profile Foundation is a wonderful idea for bringing people together into one central place.

Please feel free to redirect any STUMPY questions my way and we are more than ha

[2019-12-12 15:35] codax0r opened #88 "How to handle NaN and INF values in utils.py movmeanstd and movstd"
Hi,

I'm currently experimenting with MatrixProfiles, however i have some numerical issues i.e. using STOMP. `matrixProfile.stomp` calls `_matrixProfile_stomp`, which then calls moveanstd in my case.
In this method however there might occur negative values which are then passed to `np.sqrt`, which results in NaN values in the resulting standard deviation.

A similar issue was also observed here: h

[2019-12-13 15:05] m-alshaer opened #89 "Stomp increment is missing"
Hello guys,
It is not an issue as much as it is a suggestion of a new important feature.

I noticed that your R package contains the source code for stomp increment (online version), so I am curious to know when are you going to implement this missing algorithm in this python package?

Regards,

[2019-12-23 13:16] obehrto opened #90 "MPdist"
Hi,

I was wondering if there are any plans to implement the MPdist (https://sites.google.com/site/mpdistinfo/) algorithm?

Best regards

Ole

[2020-02-07 16:46] ltbd78 opened #91 "matrixProfile.stomp() gives nan and inf values"
The following code below gives nan and inf values; am I using this incorrectly?

seconds = np.arange(30)
traffic_light = np.array([0]*15 + [1]*5 + [2]*10)
brake_0 = np.array([0]*15 + [1, 2, 3, 4, 5] + [8, 10, 10, 10, 8, 6, 4, 2, 0, 0])

matrixProfile.stomp(traffic_light, 3)
matrixProfile.stomp(brake_0, 3)

[2020-02-07 19:17] nikita-smyrnov opened #92 "Annotation Vector file missing from latest matrixprofile-ts build"
Apparently the annotation_vector.py file isn't present when using pip to install matrixprofile-ts. Is the version on PyPi outdated? Would like to use the annotation vector feature if possible.

[2020-02-07 20:02] vanbenschoten commented on #91
@ltbd78 thanks for the heads up! We're about a week away from a major code release which should fix this problem.

[2020-02-07 20:07] vanbenschoten commented on #92
@nikita-smyrnov it looks like the issue is that annotation_vector isn't included in the _init_.py file. You can either build the library straight from the GitHub repo, or make a PR to fix the above _init_.py issue. If you can do that then I'll push to pip.

[2020-02-10 15:57] nikita-smyrnov commented on #92
Fixed the init.py. Tested and should be working properly now.

[2020-02-11 21:38] frankiecancino commented on #92
Merged the PR. Closing the issue.

[2020-02-11 21:38] #92 closed

[2020-02-19 16:05] nikita-smyrnov commented on #91
@vanbenschoten Any update on when the major code release will be arriving that fixes this bug?

[2020-02-21 03:00] vanbenschoten commented on #91
@nikita-smyrnov apologies: the Matrix Profile Foundation is working with Target through a few final details, and we expect that the release will now take place at the end of the month.

[2020-04-05 10:30] hn2 opened #95 "ValueError: Length of values does not match length of index"
In:

mp = matrixProfile.stomp(pattern,m)
mtfs ,motif_d  = motifs.motifs(pattern, mp, max_motifs=10)

self._set_item(key, value)
value = self._sanitize_column(key, value)
alue = sanitize_index(value, self.index, copy=False)

Any idea how to solve this?

[2020-06-05 09:08] hmcoservit commented on #21
Is there an example of using STAMPI?

[2020-06-05 09:15] hmcoservit commented on #89
Any updates on this? STAMPI or STOMPI?

[2020-06-05 16:30] vanbenschoten commented on #89
@hmcoservit the Matrix Profile Foundation no longer supports this library, but we're released a much more powerful library here: https://github.com/matrix-profile-foundation/matrixprofile. I know you commented on another issue in this library, so I'd recommend taking a look at our new library and opening new issues over there.

[2020-07-21 15:35] mpieters93 commented on #91
@vanbenschoten could you give us an update on the planned release?

[2020-07-21 15:54] vanbenschoten commented on #91
@mpieters93 unfortunately the Matrix Profile Foundation no longer supports this library, and as Target doesn't seem to have any dedicated resources I think it's safe to say that this library is no longer supported overall. That said, the MPF has released a much more powerful Matrix Profile library here: https://github.com/matrix-profile-foundation/matrixprofile . I'd recommend checking it out as w

[2020-09-09 13:08] AlexiaArtemis opened #97 "Pattern Recognition"
I would like to use your algorithm but I have one question. My problem is this: I have a query (pattern of interest)  and I would like to find in a time series the patterns that are the closest to the query. Should I use in this case the matrix profile (SCRIMP++) or MASS?
Thank you!

[2020-09-09 13:52] vanbenschoten commented on #97
Hi @AlexiaArtemis ! For your application you'd want to use MASS directly. The Matrix Profile Foundation has the best library for calculating MASS in Python: https://github.com/matrix-profile-foundation/mass-ts.

As a side note, this library is no longer actively maintained, so I'd encourage you to check out the more advanced Matrix Profile implementation here: https://github.com/matrix-profile-fou

[2020-09-09 13:53] vanbenschoten commented on #95
Hi @hn2 - this library is no longer actively maintained. I'd encourage you to try out this Python implementation of the Matrix Profile and raise an issue there if you run into challenges: https://github.com/matrix-profile-foundation/matrixprofile

[2020-09-09 16:44] AlexiaArtemis commented on #97
Hi @vanbenschoten!
Thank you for your fast response!
I would also like to thank your team for the open-source code that you provide.

[2020-09-09 19:31] vanbenschoten commented on #97
No problem! Glad you find it useful!

On Wed, Sep 9, 2020, 11:44 AM Alexia Artemis Baikas <
notifications@github.com> wrote:

[2020-09-16 09:19] AlexiaArtemis commented on #97
Hi,

In [here ](https://github.com/target/matrixprofile-ts/blob/master/matrixprofile/utils.py) line 159:  the function [mass(query,ts)](https://github.com/target/matrixprofile-ts/blob/6a6f62b72d351f958118a127e81b20469f13b0e7/matrixprofile/utils.py#L159) is this MASS 2.0 ?

And in line 182, the function [massStomp(query,ts,dot_first,dot_prev,index,mean,std) ](https://github.com/target/matrixprofile

[2020-09-16 12:31] vanbenschoten commented on #97
Hi Alexa,
   Unfortunately we don't support matrixprofile-ts anymore, but feel free
to ask us questions about the matrixprofile and mass-ts libraries on their
respective libraries!

On Wed, Sep 16, 2020, 4:19 AM Alexia Artemis Baikas <
notifications@github.com> wrote:

[2020-09-16 13:05] AlexiaArtemis commented on #97
Ok, then I will use the other libraries. Thank you for your help! :)

[2020-09-16 13:05] #97 closed, assigned to nobody

[2020-09-24 07:49] RexKing6 opened #98 "What is the difference between matrixprofile and matrixprofile-ts?"
So, I have no idea what the difference between these two packages? They both have pip, but there is no more update in matrixprofile-ts. Strangely, matrixprofile-ts has more stars. Can anyone answer my question?

[2020-09-24 13:04] vanbenschoten commented on #98
@RexKing6 I can answer your question, as I am the original creator of matrixprofile-ts and co-creator of matrixprofile.  matrixprofile-ts was the first Python implementation of the Matrix Profile algorithms that I created while I was at Target. However, I left Target ~2 years ago and they no longer support this library. In the meantime, Tyler Marrs (who contributed heavily to matrixprofile-ts) and

[2020-09-25 01:25] RexKing6 commented on #98
Thank you! I am ready to use matrixprofile! Later when I have time, I also hope that I can contribute to the community, like mSTAMP.

[2020-09-25 01:49] vanbenschoten commented on #98
Sounds great! mSTAMP would be a great contribution. Much appreciated!

On Thu, Sep 24, 2020, 8:25 PM Run-Qing Chen <notifications@github.com>
wrote:

[2020-09-25 01:53] RexKing6 commented on #98
I need to prepare my graduation thesis in the last year, so I will try mSTAMP when the thesis is nearing completion. Thank you!

[2020-12-18 20:02] vanbenschoten commented on #98
Hey @RexKing6, hope the thesis is going well! Wanted to reach back out and see if you were interested in implementing mSTAMP in matrixprofile. No worries either way!

[2020-12-19 02:33] RexKing6 commented on #98
Yes, I am currently studying the application of matrix profile in anomaly detection! I expect to finish my thesis in March next year, after which I will spend part of the time participating in the development of mSTAMP.

[2020-12-19 02:53] vanbenschoten commented on #98
Sounds great - congratulations on almost reaching the finish line!

On Fri, Dec 18, 2020, 8:33 PM Run-Qing Chen <notifications@github.com>
wrote:

[2020-12-19 10:49] RexKing6 commented on #98
Thanks!

[2021-01-10 22:35] Sandy4321 commented on #76
great code thanks
may you still clarify :
will it work for multivariate time series as written  in Matrix Profile VI: Meaningful Multidimensional
Motif Discovery
https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf.
1
  where all values are continues values
2
or  even will it work for multivariate time series where values are mixture of continues  and categorical values
for example 2 dimensions

[2021-01-10 23:08] vanbenschoten commented on #76
@Sandy4321 unfortunately this library is no longer maintained. I'd recommend you take a look at the Matrix Profile Foundation's new library [here](https://github.com/matrix-profile-foundation/matrixprofile). It's substantially more performant than matrixprofile-ts, and includes a number of additional features (pan-Matrix Profile, Snippets support, etc).

With respect to your original question, the

[2021-01-21 18:19] #98 closed, assigned to nobody

[2021-02-04 00:08] gbartlet opened #99 "Use of 'is' for non-object."
Minor, but keeps popping up in tooling we're doing:

In matrixprofile/matrixProfile.py the use of `is` (instead of `==`) to compare `n_threads` to non-object `-1` prompts **SyntaxWarning: "is" with a literal.**

[2021-02-07 20:12] vanbenschoten commented on #99
Hi @gbartlet! It might be worth checking out the new "matrixprofile" python library, which has better syntax (and performance, tooling, etc :)